<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

  <title>{{survey.header_message}}</title>
  {% load static %}
  <link href='https://fonts.googleapis.com/css?family=Pacifico:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static "survey.css" %}">
</head>
<body>
  <div class="container-fluid">
  {%if survey.header_image or survey.header_message%}
    {%if survey.header_image%}
      <header style="background-image: url('{{survey.header_image.url}}')">
    {%else%}
      <header>
    {%endif%}
        {{survey.header_message}}
      </header>
  {%endif%}
    <form action="{% url 'forman:submit' survey.id %}" method="post" role="form">
      {% csrf_token %}
      {% for input in inputs %}
        <div class="form-group">
            <label for="{{input.title}}">
              {{input.title}}
            </label>
            {% if input.display_type == "textarea" %}
              <textarea name="{{input|slugify}}"></textarea>
            {% elif input.display_type == "select" %}
              <select name="{{input|slugify}}">
                {% for value in input.predefined_list %}
                  <option value="{{value}}">{{value}}</option>
                {% endfor %}
              </select>
            {% elif input.display_type == "multi-select" %}
              <select name="{{input|slugify}}" multiple="multiple">
                {% for value in input.predefined_list %}
                  <option value="{{value}}">{{value}}</option>
                {% endfor %}
              </select>
            {% else %}
                <input type="{{input.display_type}}" name="{{input|slugify}}"/>
            {% endif %}
        </div>
      {% endfor %}
      <div class="btn-group">
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
      </div>
    </form>

  {%if survey.footer_image or survey.footer_message%}
    {%if survey.footer_image%}
      <footer style="background-image: url('{{survey.footer_image.url}}');">
    {%else%}
      <footer>
    {%endif%}
           {{survey.footer_message}}
      </footer>
  {%endif%}
  </div>
</div>
</body>
</html>